.footer_container {


    .top_button{
        text-align: center;
        background-color: #002D62;
        color: white;
        padding: 10px;
        display: flex;
        font-weight: 500;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 20px;
        transition: background-color 0.5s, color 0.5s; 

    }

    .top_button:hover {
        background-color: white;
        color: black; /* For text color change */
        cursor: pointer; /* Change cursor on hover */
      }

    .footer_top {
        background-color: #0174BE;
        display: flex;

        .left {
            // margin-top: 30px;
            flex: 2;
            padding-top: 30px;
            margin-left: 30px;
            height: 100%;


            h3 {
                margin-bottom: 20px;
                margin-left: 20px;
                color: white;
                font-size: 25px;
            }


            .address {
                display: flex;
                align-items: center;
                color: white;
                gap: 10px;


                .location_icon {
                    color: blue;
                    font-size: 25px;
                }
            }

            .call {
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                margin-top: 20px;


                .call_icon {
                    color: blue;
                    font-size: 20px;
                }
            }

            .email {
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                margin-top: 20px;


                .email_icon {
                    color: blue;
                    font-size: 20px;
                }
            }
        }

        .right{

            height: 100%;
            width: 100%;
            flex: 1;

            .location_text{

                // font-weight: 500;
                font-size: 25px;
                color: white;
                margin-top: 30px;
            }


            .map-container {
                margin-top: 10px;
                margin-bottom: 30px;
                margin-right: 30px;
                height: 300px;
                width: 300px;
              }
        }

    }

    .footer_bottom{
        background-color: #002D62;
        color: white;
        text-align: center;
    }
}